{% extends 'base.html.twig' %}

{% block title %}Edit Rider{% endblock %}

{% block body %}
    <h1>Edit Rider</h1>

    {{ include('rider/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('rider_index') }}">Back to riders list</a>

    {{ include('rider/_delete_form.html.twig') }}
{% endblock %}
