{% extends 'base.html.twig' %}

{% block title %}New Rider{% endblock %}

{% block body %}
    <h1>Create new Rider</h1>

    {{ include('rider/_form.html.twig') }}

    <br/><a href="{{ path('rider_index') }}">Back to riders list</a>
{% endblock %}
