{% extends 'base.html.twig' %}

{% block title %}New Stadium{% endblock %}

{% block body %}
    <h1>Create new Stadium</h1>

    {{ include('stadium/_form.html.twig') }}

    <br/><a href="{{ path('stadium_index') }}">Back to list</a>
{% endblock %}
