<form method="post" action="{{ path('rider_in_team_delete', {'id': rider_in_team.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rider_in_team.id) }}">
    <button class="btn">Delete</button>
</form>
